LLM_PROVIDER="ollama"
LLM_MODEL="qwen3-coder:30b"
LLM_API_KEY="ollama"
LLM_ENDPOINT="http://localhost:11434/v1"

EMBEDDING_PROVIDER="ollama"
EMBEDDING_MODEL="embeddinggemma:latest"
EMBEDDING_ENDPOINT="http://localhost:11434/api/embed"
EMBEDDING_DIMENSIONS="768"
HUGGINGFACE_TOKENIZER="Qwen/Qwen3-Coder-30B-A3B-Instruct"

TELEMETRY_DISABLED=true
ENABLE_BACKEND_ACCESS_CONTROL="false"

# VECTOR_DB_PROVIDER="pgvector"
# DB_PROVIDER="postgres"
# DB_NAME="cognee_db"
# DB_HOST="localhost"
# DB_PORT="5432"
# DB_USERNAME="cognee"
# DB_PASSWORD="cognee"

# GRAPH_DATABASE_PROVIDER="neo4j"
# GRAPH_DATABASE_URL="bolt://localhost:7687"
# GRAPH_DATABASE_NAME="neo4j"
# GRAPH_DATABASE_USERNAME="neo4j"
# GRAPH_DATABASE_PASSWORD="pleaseletmein"
